apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

commonLabels:
  environment: dev

images:
  - name: acrtravelplannerdev.azurecr.io/travel-planner-frontend
    newTag: latest
